{% extends "layout.twig" %}
{% block title %}Listado de ofertas | My Wallapop {% endblock %}
{% block main_container %}
    <h2>Listado de las ofertas propias</h2>
    <br/>
    <div class="container">
        <a href="/offer/add" class="btn btn-primary">Nueva oferta</a>
    </div>
    <br/>
    <div class="row">
        {% if offers.length > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Detalle de la oferta</th>
                    <th>Fecha de publicación</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                    <tr>
                        <td>{{ offer.title }}</td>
                        <td>{{ offer.description }}</td>
                        <td>{{ offer.date }}</td>
                        <td>{{ offer.price }}</td>
                        <td>
                            <a href="/offer/{{ offer._id }}/delete"
                               class="btn btn-danger">Eliminar</a>
                        </td>
                        <td>
                            {% if offer.featured %}
                                <p>Destacada</p>
                            {% else %}
                                <a href="/offer/featured/{{ offer._id }}" id="destacar"
                                   class="btn btn-primary">Destacar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay ofertas</p>
        {% endif %}
        {% if featuredError %}
            <span id="errorFeatured" class="text-danger">
                ¡Tu dinero debe ser superior o igual a 20€ para destacar una oferta!</span>
        {% endif %}
    </div>
    <br/>
    {% if pages.length > 4 %}
        <div class="row text-center">
            <ul class="pagination">
                {% for page in pages %}
                    <li class="page-item" id="pi-{{ page }}">
                        <a class="page-link"
                           href="/offers/all/?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
                <script>
                    $("#pi-" + "{{ currentPage }}").addClass("active");
                </script>
            </ul>
        </div>
    {% endif %}
{% endblock %}