{% extends "layout.twig" %}
{% block title %} My Wallapop | Listado de usuarios{% endblock %}
{% block main_container %}
    <h2>Usuarios</h2>
    <p>Listado de usuario de la aplicación</p>

    <div class="row">
        <div class="container mb-3">
            <a href="/users/list" class="btn btn-primary"
               title="Actualizar datos de la tabla">Recargar</a>
        </div>
        {% if users.length > 0 %}
            <form method="post" action="/users/remove">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th><input id="btnBorrar" type="submit" name="btnBorrar" value="Eliminar"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                            <td><label>
                                    <input type="checkbox" name="userEmails" value={{user.email}} />
                                </label></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        {% else %}
            <br/>
            <p>No hay usuarios en el sistema</p>
        {% endif %}

    </div>

    <div class="row text-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link"
                                     href="/users/list/?page=1">Primera</a>
            </li>
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link"
                       href="/users/list/?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item"><a class="page-link"
                                     href="/users/list/?page={{ pages.length }}">Última</a>
            </li>
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>
{% endblock %}