{% extends "layout.twig" %}
{% block title %} My Wallapop | Listado de usuarios{% endblock %}
{% block main_container %}
    <h2>Usuarios</h2>
    <p>Listado de usuario de la aplicación</p>

    <div class="row">
        {% if users.length > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay usuarios en el sistema</p>
        {% endif %}

    </div>

    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link"
                       href="/users/list/?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>
{% endblock %}